<form action="/echo" method="POST">
<input name="text">
<input type="submit" value="Pesquisar">
</form>
 
{% if text %}
  Filme Pesquisado: {{ text }} 
  <p>Filme: {{result.Title}}
  <br>Year: {{result.Year}}
  <br>Rated: {{result.Rated}}
  <br>Released: {{result.Released}}
  <br>Runtime: {{result.Runtime}}
  <br>Genre: {{result.Genre}}
  <br>Director: {{result.Director}}
  <br>Writer: {{result.Writer}}
  <br>Actors: {{result.Actors}}
  <br>Plot: {{result.Plot}}
  <br>Language: {{result.Language}}
  <br>Country: {{result.Country}}
  <br>Awards: {{result.Awards}}
  <br>Ratings: {{result.Ratings}}
  <br>Metascore: {{result.Metascore}}
  <br>imdbRating: {{result.imdbRating}}
  <br>imdbVotes: {{result.imdbVotes}}
  <br>imdbID: {{result.imdbID}}
{% endif %}



